#calendar-Container {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
    
  }
  
  #calendar-header {
    display: flex;
    justify-content: center; /* center the header text */
    align-items: center;
    margin-bottom: 20px;
  }
  
  #calendar-header button {
    background-color: #f5f5f5;
    border: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 10px; /* add margin to the buttons */
  }
  
  #calendar-header button:hover {
    background-color: #e6e6e6;
  }
  
  #month-year {
    font-size: 24px;
    font-weight: bold;
    text-align: center; /* center the header text */
    margin: 0; /* remove default margin */
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    font-weight: normal;
    padding: 45px;
    text-align: center;
  }
  
  td {
    border: 1px solid #ccc;
    padding: 45px;
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: #f5f5f5;
  }

  header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    text-align: center;
  }
  

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

a:hover {
  color: #000;
}

#modal1 {
  width: 800px;
  height: 600px;
  position: center;
}

#modalDiv {
  text-align: center;
}


.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 1rem;
}

.create h3 {
  margin-top: 0;
  font-size: 1.2rem;
}

.create label {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.create input[type="text"] {
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.create button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.tasks {
  margin-top: 1rem;
}

.tasks p {
  margin: 0;
  font-size: 1.1rem;
}

.tasks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tasks li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.task-details {
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-details h2 {
  margin-top: 0;
  font-size: 1rem;
}

.task-details p {
  margin: 0;
  margin-top: 0.5rem;
}





  